/* 
    Author      : Jason Whitcher
    Description : General style overrides for a website template.
*/

/* Attribute variables */
$jw-color-primary:		#CC8F14;
$jw-color-primary-lt:	#997B3D;
$jw-color-secondary:	#00CC6B;
$jw-color-secondary-lt:	#40FFDA;
$jw-color-accent:		#FF6A01;

$jw-color-text:			gray;
$jw-color-text-lt:		gray;
$jw-bg-color-primary:	white;
$jw-bg-color-accent:	#d8d8d8;

$jw-font-family:		fantasy;

$jw-font-size-base:		18px;
$jw-font-size-sm:		0.7em;
$jw-font-size-med:		1.0em;
$jw-font-size-lg:		1.2em;
$jw-font-size-xl:		1.4em;

/* Mixins */
@mixin elementDisplayReset() {
	display: block;
	margin: 0;
	padding: 0;
}

body {
	@include elementDisplayReset();
    font-family: $jw-font-family;
    font-size: $jw-font-size-base;
    color: $jw-color-text;
    background-color: $jw-bg-color-primary;
}
nav,
article,
section,
aside,
footer {
	@include elementDisplayReset();
}
h1, h2, h3, h4, h5, h6 {
	@include elementDisplayReset();
	font-weight: bold;
	color: $jw-color-primary;
}
h1 { font-size: $jw-font-size-xl; }
h2 { font-size: $jw-font-size-lg; }
h3 { font-size: $jw-font-size-med; }
h4, h5, h6 { font-size: $jw-font-size-sm; }
p {
	@include elementDisplayReset();
	font-size: $jw-font-size-med;
}
strong {
	font-size: $jw-font-size-med;
	font-weight: bold;
}
em { font-size: $jw-font-size-med; }
ol, ul {
	@include elementDisplayReset();
	li {
		margin: 0 0 0 2.5em;
	}
}
ol {
	list-style-type: lower-roman;
}
ul {
	list-style-type: square;
}
form {
	@include elementDisplayReset();
	label {
		font-size: $jw-font-size-sm;
	}
	input,
	select {
		display: block;
		padding: 3px;
		border: 1px solid $jw-color-accent;
		border-radius: 3px;
		font-size: $jw-font-size-med;
		color: $jw-color-text;
	}
	fieldset {
		@include elementDisplayReset();
		input[type='radio'] {
			display: inline-block;
		}
		input[type='checkbox'] {
			display: inline-block;
		}
		label {
			display: inline-block;
			font-size: $jw-font-size-med;
		}
	}
	select {
		optgroup {
			font-size: $jw-font-size-xl;
			option {
				font-size: inherit;
			}
		}
	}
	input[type='button'],
	input[type='submit'],
	input[type='reset'] {
		padding: 3px 1em;
		margin: 2px;
		border: none;
		background-color: $jw-color-accent;
		color: $jw-bg-color-accent;
	}
}
